{% extends "layout.html" %}

{% block content %}
    <h1>{{ count }}</h1>
    <h1 class="success">
        Winning!

        <span>:)</span>
    </h1>
    <h1 class="failure">
        Buhu!
    </h1>
    <div id="money">
    </div>

    <div id="kittens">
    </div>
{% endblock %}
