
<html>
<head>
    <title>Hello!</title>
    {% assets  "scss_all" %}
        <link rel=stylesheet type=text/css href='{{ ASSET_URL }}'>
    {% endassets %}
</head>
<body>
{% block content %}

{% endblock %}


<script type="text/javascript" src="/site.js"></script>
</body>
</html>
