@import 'colors';


body {
    width: 1024px;
    margin: 200px auto;
    padding: 0px;
}


#people {
    background-color: $primary-color;
    li {
        font-size: 400%;
        text-align: center;
    }
}

@mixin box() {
    height: 200px;
    width: 250px;
    margin: 5px;
}

#money {
    background-color: red;
    @include box;
}

#kittens {
    background-color: black;
    @include box;
}


h1 {
    font-size: 36px;

    &.success {
        color: green;

        span {
            font-weight: bold;
            font-size: 100px;
        }
    }

    &.failure {
        color: red;
    }
}
